<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">


<a class="pure-button pure-button-primary" href="{% url "client_list"  %}">Clients</a>
<a class="pure-button pure-button-primary" href="{% url "animal_list"  %}">Animals</a>
<a class="pure-button pure-button-primary" href="{% url "appointment_list"  %}">Appointments</a>
<a class="pure-button pure-button-primary" href="{% url "species_list"  %}">Species</a>
<a class="pure-button pure-button-primary" href="{% url "vet_list"  %}">Vets</a>
<a class="pure-button pure-button-primary" href="{% url "medication_list"  %}">Medications</a>
<a class="pure-button pure-button-primary" href="{% url "medicalprocedure_list"  %}">Medical Procedures</a>

{% block content %}
{% endblock %}