{% extends "base.html" %}
{% block content %}


<h1>Clients</h1>


<form method="GET" action="{% url 'client_search' %}">
<input name="q" value="{{ request.GET.q }}" placeholder="search">
<button class="btn btn-success" type="submit">
    Search
</button>
</form>

<form method="GET" action="{% url 'client_sort' %}">
    <select name="dropdown">
        <option selected="selected" disabled>Sort by:</option>
        <option value="firstname">First Name</option>
        <option value="lastname">Last Name</option>
        <option value="registrationdate">Registration Date</option>
    </select>
    <input type="submit" value="Ok">
</form>

{#<table class="pure-table">#}
<table class="pure-table">
<thead>
    <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Registration Date</th>
    <th>View</th>
    <th>Edit</th>
    <th>Delete</th>
    </tr>
</thead>
<tbody>
    {% for client in object_list %}
    <tr>
    <td>{{ client.firstname }}</td>
    <td>{{ client.lastname }}</td>
    <td>{{ client.registrationdate }}</td>
    <td><button class="pure-button" onclick="location.href='{% url "client_view" client.pk %}'" type="button">view</button></td>
    <td><button class="pure-button" onclick="location.href='{% url "client_edit" client.pk %}'" type="button">edit</button></td>
    <td><button class="pure-button" onclick="location.href='{% url "client_delete" client.pk %}'" type="button">delete</button></td>
    </tr>
    {% endfor %}
</tbody>
</table>

    <button class="pure-button" onclick="location.href='{% url "client_new" %}'" type="button">New Client</button>

{% endblock %}
