{% extends "base.html" %}
{% block content %}
<h1>Client Details</h1>
<h2>Name: {{object.firstname}} {{ object.lastname }}</h2>
<h3>Registration Date: {{ object.registrationdate }}</h3>
<h3>Animals:</h3>

<table class="pure-table"1>
<thead>
    <tr>
        <th>Species</th>
        <th>Name</th>
        <th>Birth</th>
        <th>Gender</th>
        <th>View</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>New appointment</th>

    </tr>
</thead>
<tbody>
    {% for animal in object.animal_set.all %}
        <tr>
            <td>{{ animal.species }}</td>
            <td>{{ animal.name }}</td>
            <td>{{ animal.birth }}</td>
            <td>{{ animal.gender }}</td>
            <td><button class="pure-button" onclick="location.href='{% url "animal_view" animal.pk %}'" type="button">view</button></td>
            <td><button class="pure-button" onclick="location.href='{% url "animal_edit" animal.pk %}'" type="button">edit</button></td>
            <td><button class="pure-button" onclick="location.href='{% url "animal_delete" animal.pk %}'" type="button">delete</button></td>
            <td><button class="pure-button" onclick="location.href='{% url "appointment_new_for_animal" animal.pk %}'" type="button">new appointment</button></td>
        </tr>
    {% endfor %}
</tbody>
</table>
    <button class="pure-button" onclick="location.href='{% url "animal_new_for_client" object.pk %}'" type="button">Add a new animal</button>
<h3>Appointments:</h3>

<table class="pure-table"1>
<thead>
    <tr>
        <th>Date</th>
        <th>Vet</th>
        <th>Name</th>
        <th>Species</th>
        <th>View</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
</thead>
<tbody>
    {% for animal in object.animal_set.all %}
        {% for appointment in animal.appointment_set.all %}
        <tr>
            <td>{{ appointment.date }}</td>
            <td>{{ appointment.vet }}</td>
            <td>{{ animal.name }}</td>
            <td>{{ animal.species }}</td>
            <td><button class="pure-button" onclick="location.href='{% url "appointment_view" appointment.pk %}'" type="button">view</button></td>
            <td><button class="pure-button" onclick="location.href='{% url "appointment_edit" appointment.pk %}'" type="button">edit</button></td>
            <td><button class="pure-button" onclick="location.href='{% url "appointment_delete" appointment.pk %}'" type="button">delete</button></td>
        </tr>
        {% endfor %}
    {% endfor %}
</tbody>
</table>
{% endblock %}