{% extends "base.html" %}
{% block content %}
<h1>Species Details</h1>
    <table class="pure-table"><thead>
        <th>Name</th>
        <th>Description</th>
        <th>Obligatory procedures</th>
        <th>Legal issues</th>
    </thead><tbody>
        <td>{{object.name}}</td>
        <td>{{ object.description }}</td>
        <td>{{ object.obligatoryprocedures }}</td>
        <td>{{ object.legalissues }}</td>
    </tbody></table>

{% endblock %}