{% extends "base.html" %}
{% block content %}
<h1>Species</h1>

<form method="GET" action="{% url 'species_search' %}">
<input name="q" value="{{ request.GET.q }}" placeholder="search">
<button class="btn btn-success" type="submit">
    Search
</button>
</form>

<form method="GET" action="{% url 'species_sort' %}">
    <select name="dropdown">
        <option selected="selected" disabled>Sort by:</option>
        <option value="name">name</option>
        <option value="description">description</option>
        <option value="obligatoryprocedures">obligatory procedures</option>
        <option value="legalissues">legal issues</option>
    </select>
    <input type="submit" value="Ok">
</form>

<table class="pure-table">
<thead>
    <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Obligatory Procedures</th>
    <th>Legal Issues</th>
    <th>View</th>
    <th>Edit</th>
    <th>Delete</th>
    </tr>
</thead>
<tbody>
    {% for species in object_list %}
    <tr>
    <td>{{ species.name }}</td>
    <td>{{ species.description }}</td>
    <td>{{ species.obligatoryprocedures }}</td>
    <td>{{ species.legalissues }}</td>
    <td><button class="pure-button" onclick="location.href='{% url "species_view" species.pk %}'" type="button">view</button></td>
    <td><button class="pure-button" onclick="location.href='{% url "species_edit" species.pk %}'" type="button">edit</button></td>
    <td><button class="pure-button" onclick="location.href='{% url "species_delete" species.pk %}'" type="button">delete</button></td>
    </tr>
    {% endfor %}
</tbody>
</table>

    <button class="pure-button" onclick="location.href='{% url "species_new" %}'" type="button">New Species</button>

{% endblock %}