{% extends "base.html" %}
{% block content %}

<h1>Appointments Details</h1>
    <table class="pure-table"><tbody>
    <tr>
        <td>Date: </td>
        <td>{{object.date}}</td>
    </tr>
    <tr>
        <td>Status: </td>
        <td>{{ object.status }}</td>
    </tr>
    <tr>
        <td>Details: </td>
        <td>{{ object.details }}</td>
    </tr>

    </tbody></table>


<h3>Diagnoses</h3>
<table class="pure-table">
<thead>
    <tr>
    <th>Code</th>
    <th>Description</th>
    <th>Status</th>
    <th>Treatment</th>
    <th>View</th>
    <th>Edit</th>
    <th>Delete</th>
    </tr>
</thead>
<tbody>
    {% for diagnosis in object.diagnosis_set.all %}
    <tr>
    <td>{{ diagnosis.code }}</td>
    <td>{{ diagnosis.description }}</td>
    <td>{{ diagnosis.status }}</td>
    <td>{{ diagnosis.treatment }}</td>
    <td><button class="pure-button" onclick="location.href='{% url "diagnosis_view" diagnosis.pk %}'" type="button">view</button></td>
    <td><button class="pure-button" onclick="location.href='{% url "diagnosis_edit" diagnosis.pk %}'" type="button">edit</button></td>
    <td><button class="pure-button" onclick="location.href='{% url "diagnosis_delete" diagnosis.pk %}'" type="button">delete</button></td>
    </tr>
    {% endfor %}

</tbody>
</table>
   <p>
    <button class="pure-button" onclick="location.href='{% url "diagnosis_new_for_appointment" object.pk %}'" type="button">new diagnosis</button>
       </p>

    <p>
    <button class="pure-button" onclick="location.href='{% url "animal_view" object.animal.pk %}'" type="button">back to animal</button>
        </p>

    <p>
    <button class="pure-button" onclick="location.href='{% url "client_view" object.animal.client.pk %}'" type="button">back to client</button>
        </p>
{% endblock %}