{% extends "base.html" %}
{% block content %}
<h1>Results</h1>

<form method="GET" action="{% url 'appointment_search' %}">
<input name="q" value="{{ request.GET.q }}" placeholder="search">
<button class="btn btn-success" type="submit">
    Search
</button>
</form>

<table class="pure-table">
<thead>
    <tr>
    <th>Date</th>
    <th>Status</th>
    <th>Details</th>
    <th>Vet</th>
    <th>View</th>
    <th>Edit</th>
    <th>Delete</th>
    </tr>
</thead>
<tbody>
    {% for results in object_list %}
    <tr>
    <td>{{ results.date }}</td>
    <td>{{ results.status }}</td>
    <td>{{ results.details }}</td>
    <td>{{ results.vet }}</td>
    <td><button class="pure-button" onclick="location.href='{% url "appointment_view" results.pk %}'" type="button">view</button></td>
    <td><button class="pure-button" onclick="location.href='{% url "appointment_edit" results.pk %}'" type="button">edit</button></td>
    <td><button class="pure-button" onclick="location.href='{% url "appointment_delete" results.pk %}'" type="button">delete</button></td>
    </tr>
    {% endfor %}
</tbody>
</table>
{% endblock %}