{% extends "base.html" %}
{% block content %}

<h1>Appointments</h1>

<form method="GET" action="{% url 'appointment_search' %}">
<input name="q" value="{{ request.GET.q }}" placeholder="search">
<button class="btn btn-success" type="submit">
    Search
</button>
</form>

<form method="GET" action="{% url 'appointment_sort' %}">
    <select name="dropdown">
        <option selected="selected" disabled>Sort by:</option>
        <option value="date">date</option>
        <option value="status">status</option>
    </select>
    <input type="submit" value="Ok">
</form>


<table class="pure-table">
<thead>
    <tr>
    <th>Date</th>
    <th>Status</th>
    <th>Details</th>
    <th>Vet</th>
    <th>View</th>
    <th>Edit</th>
    <th>Delete</th>
    </tr>
</thead>
<tbody>
    {% for appointment in object_list %}
    <tr>
    <td>{{ appointment.date }}</td>
    <td>{{ appointment.status }}</td>
    <td>{{ appointment.details }}</td>
    <td>{{ appointment.vet }}</td>
    <td><button class="pure-button" onclick="location.href='{% url "appointment_view" appointment.pk %}'" type="button">view</button></td>
    <td><button class="pure-button" onclick="location.href='{% url "appointment_edit" appointment.pk %}'" type="button">edit</button></td>
    <td><button class="pure-button" onclick="location.href='{% url "appointment_delete" appointment.pk %}'" type="button">delete</button></td>
    </tr>
    {% endfor %}
</tbody>
</table>

{% endblock %}
