{% extends "base.html" %}
{% block content %}

<h1>Diagnosis Details</h1>
    <table class="pure-table" ><tbody>
        <tr>
            <td>Description: </td>
            <td>{{ object.description }}</td>
        </tr>
        <tr>
            <td>Code: </td>
            <td>{{object.code}}</td>
        </tr>
        <tr>
            <td>Status: </td>
            <td>{{ object.status }}</td>
        </tr>
        <tr>
            <td>Treatment: </td>
            <td>{{ object.treatment }}</td>
        </tr>
        </tbody>
    </table>

    <button class="pure-button" onclick="location.href='{% url "appointment_view" object.appointment.pk %}'" type="button">back to appointment</button>
    <button class="pure-button" onclick="location.href='{% url "animal_view" object.appointment.animal.pk %}'" type="button">back to animal</button>


    <h3>Medications</h3>

<table class="pure-table"><thead>
<tr>
    <th>Name</th>
    <th>Cost</th>
    <th>Other Details</th>
    <th>Edit</th>
    <th>Delete</th>
</tr>
</thead><tbody>
{% for diagnosismedication in object.diagnosismedication_set.all %}
<tr>
    <td> {{ diagnosismedication.medication.name }}</td>
    <td> {{ diagnosismedication.medication.cost }}</td>
    <td> {{ diagnosismedication.medication.otherdetails }}</td>
    <td><button class="pure-button" onclick="location.href='{% url "diagnosismedication_edit" diagnosismedication.pk %}'" type="button">edit</button></td>
    <td><button class="pure-button" onclick="location.href='{% url "diagnosismedication_delete" diagnosismedication.pk %}'" type="button">delete</button></td>
</tr>
{% endfor %}
</tbody></table>
<td>
<button class="pure-button" onclick="location.href='{% url "diagnosismedication_new" object.pk %}'" type="button">add a medication</button>
</td>

<h3>Procedures</h3>
<table class="pure-table"><thead>
<tr>
    <th>Name</th>
    <th>Cost</th>
    <th>Other Details</th>
    <th>Edit</th>
    <th>Delete</th>
</tr>
</thead><tbody>
{% for diagnosismedicalprocedure in object.diagnosismedicalprocedure_set.all %}
<tr>
    <td> {{ diagnosismedicalprocedure.medicalprocedure.name }}</td>
    <td> {{ diagnosismedicalprocedure.medicalprocedure.cost }}</td>
    <td> {{ diagnosismedicalprocedure.medicalprocedure.otherdetails }}</td>
    <td><button class="pure-button" onclick="location.href='{% url "diagnosisprocedure_edit" diagnosismedicalprocedure.pk %}'" type="button">edit</button></td>
    <td><button class="pure-button" onclick="location.href='{% url "diagnosisprocedure_delete" diagnosismedicalprocedure.pk %}'" type="button">delete</button></td>
</tr>
{% endfor %}
</tbody></table>
<td>
<button class="pure-button" onclick="location.href='{% url "diagnosisprocedure_new" object.pk %}'" type="button">Add a procedure</button>
</td>

{% endblock %}