{% extends "base.html" %}
{% block content %}
<h1>Results</h1>

<form method="GET" action="{% url 'animal_search' %}">
<input name="q" value="{{ request.GET.q }}" placeholder="search">
<button class="btn btn-success" type="submit">
    Search
</button>
</form>

<table class="pure-table">
<thead>
    <tr>
    <th>Name</th>
    <th>Registration date</th>
    <th>Birth</th>
    <th>Gender</th>
    <th>Height</th>
    <th>Weight</th>
    <th>Species name</th>
    <th>Other details</th>
    <th>View</th>
    <th>Edit</th>
    <th>Delete</th>
    </tr>
</thead>
<tbody>
    {% for results in object_list %}
    <tr>
    <td>{{ results.name }}</td>
    <td>{{ results.registrationdate }}</td>
    <td>{{ results.birth }}</td>
    <td>{{ results.gender }}</td>
    <td>{{ results.height }}</td>
    <td>{{ results.weight }}</td>
    <td>{{ results.species }}</td>
    <td>{{ results.otherdetails }}</td>
    <td><button class="pure-button" onclick="location.href='{% url "animal_view" results.pk %}'" type="button">view</button></td>
    <td><button class="pure-button" onclick="location.href='{% url "animal_edit" results.pk %}'" type="button">edit</button></td>
    <td><button class="pure-button" onclick="location.href='{% url "animal_delete" results.pk %}'" type="button">delete</button></td>
    </tr>
    {% endfor %}
</tbody>
</table>

{% endblock %}