{% extends "base.html" %}
{% block content %}
<h1>Animals</h1>

<form method="GET" action="{% url 'animal_search' %}">
<input name="q" value="{{ request.GET.q }}" placeholder="search">
<button class="btn btn-success" type="submit">
    Search
</button>
</form>

<form method="GET" action="{% url 'animal_sort' %}">
    <select name="dropdown">
        <option selected="selected" disabled>Sort by:</option>
        <option value="name">name</option>
        <option value="registrationdate">registration date</option>
        <option value="birth">birth</option>
        <option value="gender">gender</option>
        <option value="height">height</option>
        <option value="weight">weight</option>
        <option value="species.name">species</option>
    </select>
    <input type="submit" value="Ok">
</form>

<table class="pure-table">
<thead>
    <tr>
    <th>Name</th>
    <th>Registration date</th>
    <th>Birth</th>
    <th>Gender</th>
    <th>Height</th>
    <th>Weight</th>
    <th>Species name</th>
    <th>Other details</th>
    <th>View</th>
    <th>Edit</th>
    <th>Delete</th>
    </tr>
</thead>
<tbody>
    {% for animal in object_list %}
    <tr>
    <td>{{ animal.name }}</td>
    <td>{{ animal.registrationdate }}</td>
    <td>{{ animal.birth }}</td>
    <td>{{ animal.gender }}</td>
    <td>{{ animal.height }}</td>
    <td>{{ animal.weight }}</td>
    <td>{{ animal.species }}</td>
    <td>{{ animal.otherdetails }}</td>
    <td><button class="pure-button" onclick="location.href='{% url "animal_view" animal.pk %}'" type="button">view</button></td>
    <td><button class="pure-button" onclick="location.href='{% url "animal_edit" animal.pk %}'" type="button">edit</button></td>
    <td><button class="pure-button" onclick="location.href='{% url "animal_delete" animal.pk %}'" type="button">delete</button></td>
    </tr>
    {% endfor %}
</tbody>
</table>

{% endblock %}