{% extends "base.html" %}
{% block content %}

<h1>Animal Details</h1>
    <button class="pure-button" onclick="location.href='{% url "client_view"  object.client.pk%}'" type="button">Back to Client</button>

<table class="pure-table">
<tbody>
    <tr>
        <td>Name: </td>
        <td>{{ object.name }}</td>
    </tr>
    <tr>
        <td>Birth: </td>
        <td>{{ object.birth }}</td>
    </tr>
    <tr>
        <td>Gender:</td>
        <td>{{ object.gender }}</td>
    </tr>
    <tr>
        <td>Species:</td>
        <td>{{ object.species }}</td>
    </tr>
    <tr>
        <td>Height:</td>
        <td>{{ object.height }}</td>
    </tr>
    <tr>
        <td>Weight:</td>
        <td>{{ object.weight }}</td>
    </tr>
    <tr>
        <td>Registration Date:</td>
        <td>{{ object.registrationdate }}</td>
    </tr>
    <tr>
        <td>Vet:</td>
        <td>{{ object.vet }}</td>
    </tr>
    <tr>
        <td>Other details:</td>
        <td>{{ object.otherdetails }}</td>
    </tr>
    <tr>
        <td>Last Visit:</td>
        <td>{{ last_visit }}</td>
    </tr>
</tbody>
</table>
<table><tbody>
    <tr>
        <td><button class="pure-button" onclick="location.href='{% url "animal_edit" object.pk %}'" type="button">Edit Animal</button></td>
    </tr>

</tbody></table>

<h3>Appointments
    <button class="pure-button" onclick="location.href='{% url "appointment_new_for_animal" object.pk %}'" type="button">Create New</button>
</h3>

<table class="pure-table"><thead>
    <tr>
        <th>Date</th>
        <th>Vet</th>
        <th>Details</th>
        <th>Status</th>
        <th>Edit</th>
        <th>View</th>
        <th>Delete</th>
        <th>Add a diagnosis</th>
    </tr>
</thead>
    {% for appointment in object.appointment_set.all %}
    <tr>
        <td>{{ appointment.date }}</td>
        <td>{{ appointment.vet }}</td>
        <td>{{ appointment.details }}</td>
        <td>{{ appointment.status }}</td>
        <td><button class="pure-button" onclick="location.href='{% url "appointment_view" appointment.pk %}'" type="button">view</button></td>
        <td><button class="pure-button" onclick="location.href='{% url "appointment_edit" appointment.pk %}'" type="button">edit</button></td>
        <td><button class="pure-button" onclick="location.href='{% url "appointment_delete" appointment.pk %}'" type="button">delete</button></td>
        <td><button class="pure-button" onclick="location.href='{% url "diagnosis_new_for_appointment" appointment.pk %}'" type="button">add a diagnosis</button></td>
    </tr>
    {% endfor %}
<tbody>
</tbody></table>

<h3>Notes
<button class="pure-button" onclick="location.href='{% url "note_new_for_animal" object.pk %}'" type="button">Create New</button>
</h3>
<table class="pure-table"><thead>
    <tr>
        <th>Date</th>
        <th>View</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
</thead>
<tbody>
    {% for note in object.note_set.all %}
    <tr>
        <td>{{ note.date }}</td>
        <td><button class="pure-button" onclick="location.href='{% url "note_view" note.pk %}'" type="button">view</button></td>
        <td><button class="pure-button" onclick="location.href='{% url "note_edit" note.pk %}'" type="button">edit</button></td>
        <td><button class="pure-button" onclick="location.href='{% url "note_delete" note.pk %}'" type="button">delete</button></td>
    </tr>
    {% endfor %}
</tbody>
</table>

<h3>Diagnoses
</h3>


<table class="pure-table"><thead>
    <tr>
        <th>Date</th>
        <th>Status</th>
        <th>Description</th>
        <th>Treatment</th>
        <th>Code</th>
        <th>View</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
</thead>
<tbody>
    {% for appointment in object.appointment_set.all %}
    {% for diagnosis in appointment.diagnosis_set.all %}
    <tr>
        <td>{{ diagnosis.appointment.date }}</td>
        <td>{{ diagnosis.status }}</td>
        <td>{{ diagnosis.description }}</td>
        <td>{{ diagnosis.treatment }}</td>
        <td>{{ diagnosis.code }}</td>
        <td><button class="pure-button" onclick="location.href='{% url "diagnosis_view" diagnosis.pk %}'" type="button">view</button></td>
        <td><button class="pure-button" onclick="location.href='{% url "diagnosis_edit" diagnosis.pk %}'" type="button">edit</button></td>
        <td><button class="pure-button" onclick="location.href='{% url "diagnosis_delete" diagnosis.pk %}'" type="button">delete</button></td>
    </tr>
    {% endfor %}
    {% endfor %}
</tbody>
</table>
{% endblock %}