{% extends "base.html" %}
{% block content %}
<h1>Vets</h1>

<form method="GET" action="{% url 'vet_search' %}">
<input name="q" value="{{ request.GET.q }}" placeholder="search">
<button class="btn btn-success" type="submit">
    Search
</button>
</form>

<form method="GET" action="{% url 'vet_sort' %}">
    <select name="dropdown">
        <option selected="selected" disabled>Sort by:</option>
        <option value="firstname">First Name</option>
        <option value="lastname">Last Name</option>
        <option value="qualifications">qualifications</option>
        <option value="birth">birth</option>
    </select>
    <input type="submit" value="Ok">
</form>

<table class="pure-table">
<thead>
    <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Qualifications</th>
    <th>Birth</th>
    <th>View</th>
    <th>Edit</th>
    <th>Delete</th>
    </tr>
</thead>
<tbody>
    {% for vet in object_list %}
    <tr>
    <td>{{ vet.firstname }}</td>
    <td>{{ vet.lastname }}</td>
    <td>{{ vet.qualifications }}</td>
    <td>{{ vet.birth }}</td>
    <td><button class="pure-button" onclick="location.href='{% url "vet_view" vet.pk %}'" type="button">view</button></td>
    <td><button class="pure-button" onclick="location.href='{% url "vet_edit" vet.pk %}'" type="button">edit</button></td>
    <td><button class="pure-button" onclick="location.href='{% url "vet_delete" vet.pk %}'" type="button">delete</button></td>
    </tr>
    {% endfor %}
</tbody>
</table>

    <button class="pure-button" onclick="location.href='{% url "vet_new" %}'" type="button">New Vet</button>

{% endblock %}