{% extends "base.html" %}
{% block content %}
<h1>Vet Details</h1>
    <table class="pure-table"><thead>
        <th>Name</th>
        <th>Qualifications</th>
        <th>Birth</th>
    </thead><tbody>
        <td>{{object.firstname}} {{object.lastname}}</td>
        <td>{{ object.qualifications }}</td>
        <td>{{ object.birth }}</td>

    </tbody></table>

{% endblock %}