{% extends "base.html" %}

{% block content %}

<h1>Vet Edit</h1>
<form class="pure-form" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>

{% endblock %}