{% extends "base.html" %}
{% block content %}
<h1>Results</h1>

<form method="GET" action="{% url 'vet_search' %}">
<input name="q" value="{{ request.GET.q }}" placeholder="search">
<button class="btn btn-success" type="submit">
    Search
</button>
</form>
<table class="pure-table">
<thead>
    <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Qualifications</th>
    <th>Birth</th>
    <th>View</th>
    <th>Edit</th>
    <th>Delete</th>
    </tr>
</thead>
<tbody>
    {% for results in object_list %}
    <tr>
    <td>{{ results.firstname }}</td>
    <td>{{ results.lastname }}</td>
    <td>{{ results.qualifications }}</td>
    <td>{{ results.birth }}</td>
    <td><button class="pure-button" onclick="location.href='{% url "vet_view" results.pk %}'" type="button">view</button></td>
    <td><button class="pure-button" onclick="location.href='{% url "vet_edit" results.pk %}'" type="button">edit</button></td>
    <td><button class="pure-button" onclick="location.href='{% url "vet_delete" results.pk %}'" type="button">delete</button></td>
    </tr>
    {% endfor %}
</tbody>
</table>

<button class="pure-button" onclick="location.href='{% url "vet_new" %}'" type="button">New Vet</button>
{% endblock %}