{% extends "base.html" %}
{% block content %}
<h1>Medical Procedures</h1>

<form method="GET" action="{% url 'medicalprocedure_search' %}">
<input name="q" value="{{ request.GET.q }}" placeholder="search">
<button class="btn btn-success" type="submit">
    Search
</button>
</form>

<form method="GET" action="{% url 'medicalprocedure_sort' %}">
    <select name="dropdown">
        <option selected="selected" disabled>Sort by:</option>
        <option value="name">name</option>
        <option value="cost">cost</option>
    </select>
    <input type="submit" value="Ok">
</form>

<table class="pure-table">
<thead>
    <tr>
    <th>Name</th>
    <th>Cost</th>
    <th>View</th>
    <th>Edit</th>
    <th>Delete</th>
    </tr>
</thead>
<tbody>
    {% for medicalprocedure in object_list %}
    <tr>
    <td>{{ medicalprocedure.name }}</td>
    <td>{{ medicalprocedure.cost }}</td>
    <td><button class="pure-button" onclick="location.href='{% url "medicalprocedure_view" medicalprocedure.pk %}'" type="button">view</button></td>
    <td><button class="pure-button" onclick="location.href='{% url "medicalprocedure_edit" medicalprocedure.pk %}'" type="button">edit</button></td>
    <td><button class="pure-button" onclick="location.href='{% url "medicalprocedure_delete" medicalprocedure.pk %}'" type="button">delete</button></td>
    </tr>
    {% endfor %}
</tbody>
</table>

<button class="pure-button" onclick="location.href='{% url "medicalprocedure_new" %}'" type="button">New Medical Procedure</button>
{% endblock %}
