{% extends "base.html" %}
{% block content %}

<h1>Medical Procedure Details</h1>
<table class="pure-table"><thead>
    <th>Name </th>
    <th>Cost </th>
    <th>Other Details </th>
</thead><tbody>
    <td>{{object.name}}</td>
    <td>{{ object.cost }}</td>
    <td>{{ object.details }}</td>
</tbody></table>

{% endblock %}