{% extends "base.html" %}

{% block content %}

<h1>Medical Procedures Delete</h1>
<form method="post">{% csrf_token %}
    Are you sure you want to delete "{{ object }}" ?
    <input type="submit" value="Submit" />
</form>

{% endblock %}