{% extends "base.html" %}
{% block content %}
<h1>Results</h1>

<form method="GET" action="{% url 'medicalprocedure_search' %}">
<input name="q" value="{{ request.GET.q }}" placeholder="search">
<button class="btn btn-success" type="submit">
    Search
</button>
</form>

<table class="pure-table">
<thead>
    <tr>
    <th>Name</th>
    <th>Cost</th>
    <th>View</th>
    <th>Edit</th>
    <th>Delete</th>
    </tr>
</thead>
<tbody>
    {% for results in object_list %}
    <tr>
    <td>{{ results.name }}</td>
    <td>{{ results.cost }}</td>
    <td><button class="pure-button" onclick="location.href='{% url "medicalprocedure_view" results.pk %}'" type="button">view</button></td>
    <td><button class="pure-button" onclick="location.href='{% url "medicalprocedure_edit" results.pk %}'" type="button">edit</button></td>
    <td><button class="pure-button" onclick="location.href='{% url "medicalprocedure_delete" results.pk %}'" type="button">delete</button></td>
    </tr>
    {% endfor %}
</tbody>
</table>

    <button class="pure-button" onclick="location.href='{% url "medicalprocedure_new" %}'" type="button">New Medical Procedure</button>
{% endblock %}