{% extends "base.html" %}
{% block content %}
<h1>Medications</h1>

<form method="GET" action="{% url 'medication_search' %}">
<input name="q" value="{{ request.GET.q }}" placeholder="search">
<button class="btn btn-success" type="submit">
    Search
</button>
</form>

<form method="GET" action="{% url 'medication_sort' %}">
    <select name="dropdown">
        <option selected="selected" disabled>Sort by:</option>
        <option value="name">name</option>
        <option value="cost">cost</option>
    </select>
    <input type="submit" value="Ok">
</form>

<table class="pure-table">

<table class="pure-table">
<thead>
    <tr>
    <th>Name</th>
    <th>Cost</th>
    <th>View</th>
    <th>Edit</th>
    <th>Delete</th>
    </tr>
</thead>
<tbody>
    {% for medication in object_list %}
    <tr>
    <td>{{ medication.name }}</td>
    <td>{{ medication.cost }}</td>
    <td><button class="pure-button" onclick="location.href='{% url "medication_view" medication.pk %}'" type="button">view</button></td>
    <td><button class="pure-button" onclick="location.href='{% url "medication_edit" medication.pk %}'" type="button">edit</button></td>
    <td><button class="pure-button" onclick="location.href='{% url "medication_delete" medication.pk %}'" type="button">delete</button></td>
    </tr>
    {% endfor %}
</tbody>
</table>

    <button class="pure-button" onclick="location.href='{% url "medication_new" %}'" type="button">New Medication</button>
{% endblock %}